[Desktop Entry]
Name=Logo Menu Settings
Comment=Settings application for COSMIC™ Logo Menu applet
Type=Application
Icon=co.uk.cappsy.CosmicAppletLogoMenu
Exec=cosmic-logomenu-settings %F
Terminal=false
StartupNotify=true
Categories=COSMIC;
Keywords=COSMIC
MimeType=
