[Desktop Entry]
Name=Logo Menu Settings
Comment=Settings application for COSMIC™ Logo Menu applet
Type=Application
Icon=co.uk.cappsy.CosmicAppletLogoMenu
Exec=cosmic-logomenu-settings
Terminal=false
StartupNotify=true
StartupWMClass=cosmic-logomenu-settings
Categories=COSMIC;
Keywords=COSMIC
