[Desktop Entry]
Name=Logo Menu
Name[es]=Menú logo
Exec=cosmic-ext-applet-logomenu
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=COSMIC
Icon=co.uk.cappsy.CosmicAppletLogoMenu
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
Keywords[es]=Carpeta;Gestor;
MimeType=inode/directory;
NoDisplay=true
StartupWMClass=cosmic-ext-applet-logomenu
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
